body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #0b0b0b;
    margin: 0;
    padding: 0;
}

.container {
    width: 70%;
    margin: 40px auto;
}

h1 {
    font-size: 24px;
    color: #f0efef;
}

.map-container {
    background: #ea17ca;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(226, 160, 7, 0.1);
}

#map {
    height: 400px;
    width: 100%;
    margin-bottom: 10px;
}

.controls {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 8px 12px;
    border: none;
    background: #cbe507;
    color: rgb(252, 252, 250);
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #0b0b01;
    margin: 5px 0;
    padding: 8px;
    border-radius: 4px;
}
